{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "rules": {
    "semi": "off",
    "quotes": "off",
    "comma-dangle": "off",
    "no-unused-vars": "off",
    "linebreak-style": "off",
    "require-jsdoc": "off",
    "eol-last": "off",
    "no-trailing-spaces": "off",
    "max-len": "off"
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "google"
  ]
}