@import "../utils/variables";


.toolbar {
  display: flex;
  align-items: center;
  min-height: 44px;
  border-top: $border;
  border-bottom: $border;
  padding-left: 38px;

  &__btn + &__btn {
    margin-left: 10px;
  }
}